.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
  min-height: 50rem;

  @media (max-width:1200px){
    margin: 0;
    max-width: 100%;
  }
  
  
}

.header{
   height: 7rem;
   background-color: #FFF;
   border-bottom: var(--line);
   display: flex;
   justify-content: space-between;
   align-items: center;

}
.content{
  display: flex;
  @media (max-width:$bp-medium){
    flex-direction: column;
  }
  .sidebar{
    background-color: var(--color-grey-dark-1);
    ////shundan
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
  }
  .hotel-view{
     
    flex: 1;
    

  }
  
}

.detail{
  display: flex;
  padding: 4.5rem;
  font-size: 1.4rem;
  @media (max-width:$bp-small){
    flex-direction: column;
  }

  @media (max-width:$bp-medium){
    padding: 3rem;
  }

  .description{
    background-color: #fff;
    box-shadow: var(--shadow-light);
    margin-right: 4.5rem;

    
    @media (max-width:$bp-medium){
      margin-right: 3rem;
      padding: 2rem;
    }

    @media (max-width:$bp-small){
      margin-right: 0;
      margin-bottom: 4.5rem;
    }
    padding: 3rem;
    flex: 0 0 60%
  }
  .user-review{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
  }
}